@import "neat";
@import "normalize.scss";
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700');

body {
  @include grid-container;
  background-color: #130f30;
}

article {
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  margin-top: 100px;
  font-size: 2em;
  @include grid-column(8);
  @include grid-push(2);
}

a {
  color: #fff;
}
