---
title: FATBABY
---

<div class="circle"></div>

<section>
    <p>
    <span>FATBABY</span> creates impactful products and experiences by  solving problems big and small.
  </p>

  <p><%= link_to("Get in touch", "mailto:eric@fatbaby.xyz", target: "_blank") %></p>
</section>
