---
title: FATBABY
---

<h1>
  fatbaby
</h1>

<aside>
  <p>
    Today, our mission is to create value for companies by creating value for people.
  </p>

  <p>
    We make ideas real by designing for the human experience—the culmination of user, culture, and brand.
  </p>

  <p>
    We thrive on solving transformational challenges at the intersection of the digital and physical worlds. We think holistically and systematically.
  </p>

  <p>
    We believe smaller, multidisciplinary teams embedded with our clients produce the most meaningful and impactful work. We don’t keep clients in the dark.
  </p>

  <p>
    We work at the speed of business today. Evolution and continuous delivery create innovation.
  </p>

  <p>
    Fatbaby is a grown-up startup working across New York, San Francisco, and Los Angeles. By appointment only.
  </p>

  <%= link_to(
    "Get in touch",
    "mailto:chufucious@gmail.com",
    target: "_blank"
  ) %>
</aside>
