---
title: FATBABY
---

<section>
  <h1>FATBABY</h1>
  <p>
    American Express<br>
    Apple<br>
    BuzzFeed<br>
    CNN<br>
    Google<br>
    Mobcrush<br>
    The Washington Post<br>
    Time<br>
    Walmart<br>
    <br>
    <%= link_to("CONTACT", "mailto:eric@fatbaby.xyz", target: "_blank") %>
  </p>
</section>
