---
title: FATBABY
---

<div id="about">

  <p><strong>FATBABY</strong> makes ideas real by designing for the human experience—the culmination of user, culture, and brand.</p>

  <p><%= link_to("Get in touch", "mailto:chufucious@gmail.com", target: "_blank") %></p>

</div>
