---
title: FATBABY
---

<p>
  <strong>FATBABY</strong> creates impactful products and experiences by  solving problems big and small.
</p>

<p><%= link_to("Get in touch", "mailto:hello@fatbaby.xyz", target: "_blank") %></p>
